*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
    font-family: 'Merriweather Sans','Poppins', sans-serif;
    color: black;
}

nav{
    overflow: hidden;
    background-color: #e9e9e9;
}

nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:active {
    background-color: #2196F3;
    color: white;
  }

h1{
    font-weight: 700;
    font-size: 45px;
    margin: 50px auto;
    text-align: center;
}

h2{
    font-weight: 700;
    margin: 30px 0px 10px 44px;
}

h4{
    font-weight: 700;
    margin: 10px 0px 10px 44px;
    text-align: left;
}

figure{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

figure img{
    width: 98%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

figcaption{
    box-sizing: border-box;
    margin: 12px 20px 0px 0px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icons bulk";
}

.icons{
    background-color: #95c7bb;
    width: 300px;
    border-radius: 10px;
    text-align: left;
    padding: 10px 20px;
    margin: 16px 0px 0px 24px;
    grid-area: icons;
}

.bulk{
    padding-top: 8px;
    padding-right: 5px;
    text-align: right;
    grid-area: bulk;
}

.icons img{
    display: inline;
    width: 40px;
}

.icons p{
    display: inline;
    position: relative;
    bottom: 12px;
    left: 5px;
}

ul, li{
    margin-left: 44px;
}

ol{
    margin-left: 24px;
} 

footer{
    margin: 60px auto 40px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #007C60;
}

footer a:hover{
    text-decoration: none;
    color: #f10085;
    transition: 0.5s;
}

footer p{
    margin-left: 44px;
}